services:
  nginx:
    build: 
      context: .
      target: nginx
      dockerfile: ./Dockerfile
    environment:
        FCGI_SERVER_HOST: "${FCGI_SERVER_HOST:-php}"
        FCGI_SERVER_PORT: "${FCGI_SERVER_PORT:-9000}"
    ports:
      - "${APP_WEB_PORT:-80}:80"
    volumes:
      - ./public:/opt/app/public

  php:
    build: 
      context: .
      target: php_base
      dockerfile: ./Dockerfile
      args:
        - UID=${UID:-1337}
        - GID=${GID:-1337}
    volumes:
      - ./:/opt/app/
    environment:
      DB_DATABASE: ${DB_DATABASE:-dbname}
      DB_USERNAME: ${DB_USERNAME:-dbuser}
      DB_PASSWORD: ${DB_PASSWORD:-dbpass}
      DB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-dbpass}

  db:
    image: mariadb:latest
    restart: on-failure
    environment:
      MARIADB_DATABASE: ${DB_DATABASE:-dbname}
      MARIADB_USER: ${DB_USERNAME:-dbuser}
      MARIADB_PASSWORD: ${DB_PASSWORD:-dbpass}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD:-dbpass}
    volumes:
      - db:/var/lib/mysql

volumes:
  db: